<ion-view>
    <ion-content class="ak-bg" scroll="false">
        <div style="    color: white;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    width: 80%;
    margin: auto;
    margin-top: 40%;">
            We have sent you a verification code through sms.
        </div>
        <div>
            <input type="text" name="" style="color: white;
    width: 70%;
    margin: auto;
    margin-top: 20px;" placeholder="Enter code here" ng-model="obj.key">
        </div>
        <div style="width: 80%;margin: auto;height: 40px;text-align:center;color: white;border: solid;padding: 8px;border-width: 1px;margin-top: 20px;" ng-click="verify()">
            Submit
        </div>
    </ion-content>
</ion-view>
